body {
  font-family: Garamond;
}

.header {
  font-style: italic;
}
#menu-table {
  width: 100%;
  text-align: left;
  background-color: #f2f2f2;
}

#menu-table tr:nth-child(even) {
  background-color: gainsboro;
}

.menu-layout {
  max-width: 740px;
  text-align: center;
  margin: auto;
}

.comment {
  display: flex;
}

.remove-comment {
  display: none;
  margin-top: 0.8rem;
  margin-right: 2rem;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 0.25rem;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  background: rgb(212, 116, 116);
  font-size: 20px;
  font-weight: bold;
}

th {
  background-color: #b0c4cf;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
