body {
  font-family: Garamond;
}

.header {
  font-style: italic;
}
#menu-table {
  width: 100%;
  text-align: left;
  background-color: #f2f2f2;
}

#menu-table tr:nth-child(even) {
  background-color: gainsboro;
}

.menu-layout {
  max-width: 740px;
  text-align: center;
  margin: auto;
}

th {
  background-color: #b0c4cf;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
